<% layout('/layouts/boilerplate.ejs') %>

<div class="row-md">
  <div class="col-md-7 form-container">
    <h3 style="margin-bottom: 2%">Details</h3>
    <form
      method="post"
      action="/listings/<%= result._id %>?_method=PATCH"
      class="needs-validation"
      novalidate
      enctype="multipart/form-data"
      autocomplete="off"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          id="title"
          class="form-control"
          type="text"
          name="listing[title]"
          value="<%= result.title %>"
          required
        />
        <div class="invalid-feedback">Title is required!</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          id="description"
          class="form-control"
          name="listing[description]"
          rows="5"
          required
        >
<%= result.description %></textarea
        >
        <div class="invalid-feedback">Title is required!</div>
      </div>
      <!-- <div class="mb-3">
                <label for="form-image" class="form-label">Image</label>
                <input id="form-image" class="form-control" type="text" name="listing[image]" value="<%= result.image %>">
            </div> -->
      <div class="mb-3">
        <label for="form-image" class="form-label">Upload New Image</label>
        <input
          id="form-image"
          class="form-control"
          type="file"
          accept="image/*"
          name="listing[image]"
        />
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            id="price"
            class="form-control"
            type="text"
            name="listing[price]"
            value="<%= result.price %>"
            required
          />
          <div class="invalid-feedback">Price is required!</div>
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            id="country"
            class="form-control"
            type="text"
            name="listing[country]"
            value="<%= result.country %>"
            required
          />
          <div class="invalid-feedback">Country is required!</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          id="location"
          class="form-control"
          type="text"
          name="listing[location]"
          value="<%= result.location %>"
          required
        />
        <div class="invalid-feedback">Location is required!</div>
      </div>
      <div class="mb-4 mt-3">
        <label class="form-label mb-3">Categories</label>
        <div class="categories">
          <div class="category form-check">
            <input type="checkbox" name="category" value="city" id="city"
            class="form-check-input" <%= result.category.includes('city') ?
            'checked' : '' %> />
            <label for="city" class="form-check-label">City</label>
          </div>

          <div class="category form-check">
            <input type="checkbox" name="category" value="rooms" id="room"
            class="form-check-input" <%= result.category.includes('rooms') ?
            'checked' : '' %> />
            <label for="room" class="form-check-label">Rooms</label>
          </div>

          <div class="category form-check">
            <input type="checkbox" name="category" value="mountains"
            id="mountains" class="form-check-input" <%=
            result.category.includes('mountains') ? 'checked' : '' %> />
            <label for="mountains" class="form-check-label">Mountains</label>
          </div>

          <div class="category form-check">
            <input type="checkbox" name="category" value="castles" id="castles"
            class="form-check-input" <%= result.category.includes('castles') ?
            'checked' : '' %> />
            <label for="castles" class="form-check-label">Castles</label>
          </div>

          <div class="category form-check">
            <input type="checkbox" name="category" value="pools" id="pools"
            class="form-check-input" <%= result.category.includes('pools') ?
            'checked' : '' %> />
            <label for="pools" class="form-check-label">Pool</label>
          </div>

          <div class="category form-check">
            <input type="checkbox" name="category" value="camping" id="camping"
            class="form-check-input" <%= result.category.includes('camping') ?
            'checked' : '' %> />
            <label for="camping" class="form-check-label">Camping</label>
          </div>

          <div class="category form-check">
            <input type="checkbox" name="category" value="farms" id="farms"
            class="form-check-input" <%= result.category.includes('farms') ?
            'checked' : '' %> />
            <label for="farms" class="form-check-label">Farm</label>
          </div>

          <div class="category form-check">
            <input type="checkbox" name="category" value="arctic" id="arctic"
            class="form-check-input" <%= result.category.includes('arctic') ?
            'checked' : '' %> />
            <label for="arctic" class="form-check-label">Arctic</label>
          </div>
        </div>
      </div>
      <div class="mt-4 ms-auto edit-btn-container">
        <button class="btn btn-outline-dark edit-btn red-btn">Edit</button>
      </div>
    </form>
  </div>
</div>
