<% layout('/layouts/boilerplate.ejs') %>

<div class="row-md">
  <div class="col-md-7 form-container">
    <h3 style="margin-bottom: 2%">Details</h3>
    <form
      method="post"
      action="/listings/<%= result._id %>?_method=PATCH"
      class="needs-validation"
      novalidate
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          id="title"
          class="form-control"
          type="text"
          name="listing[title]"
          value="<%= result.title %>"
          required
        />
        <div class="invalid-feedback">Title is required!</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          id="description"
          class="form-control"
          name="listing[description]"
          rows="5"
          required
        >
<%= result.description %></textarea
        >
        <div class="invalid-feedback">Title is required!</div>
      </div>
      <!-- <div class="mb-3">
                <label for="form-image" class="form-label">Image</label>
                <input id="form-image" class="form-control" type="text" name="listing[image]" value="<%= result.image %>">
            </div> -->
      <div class="mb-3">
        <label for="form-image" class="form-label">Upload New Image</label>
        <input
          id="form-image"
          class="form-control"
          type="file"
          accept="image/*"
          name="listing[image]"
        />
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            id="price"
            class="form-control"
            type="text"
            name="listing[price]"
            value="<%= result.price %>"
            required
          />
          <div class="invalid-feedback">Price is required!</div>
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            id="country"
            class="form-control"
            type="text"
            name="listing[country]"
            value="<%= result.country %>"
            required
          />
          <div class="invalid-feedback">Country is required!</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          id="location"
          class="form-control"
          type="text"
          name="listing[location]"
          value="<%= result.location %>"
          required
        />
        <div class="invalid-feedback">Location is required!</div>
      </div>
      <button class="btn btn-dark">Edit</button>
    </form>
  </div>
</div>
