<% layout('/layouts/boilerplate.ejs') %>

<div class="head">
  <div class="filters">
    <div class="filter" data-tab="trending">
      <i class="fa-solid fa-fire"></i>
      <p>Trending</p>
    </div>
    <div class="filter" data-tab="rooms">
      <i class="fa-solid fa-bed"></i>
      <p>Rooms</p>
    </div>
    <div class="filter" data-tab="city">
      <i class="fa-solid fa-mountain-city"></i>
      <p>Iconic Cities</p>
    </div>
    <div class="filter" data-tab="mountains">
      <i class="fa-solid fa-mountain-sun"></i>
      <p>Mountains</p>
    </div>
    <div class="filter" data-tab="castles">
      <i class="fa-brands fa-fort-awesome"></i>
      <p>Castles</p>
    </div>
    <div class="filter" data-tab="pools">
      <i class="fa-solid fa-person-swimming"></i>
      <p>Amazing Pools</p>
    </div>
    <div class="filter" data-tab="camping">
      <i class="fa-solid fa-tree"></i>
      <p>Camping</p>
    </div>
    <div class="filter" data-tab="farms">
      <i class="fa-solid fa-wheat-awn"></i>
      <p>Farms</p>
    </div>
    <div class="filter" data-tab="arctic">
      <i class="fa-solid fa-snowflake"></i>
      <p>Arctic</p>
    </div>
  </div>
  <div class="form-check form-switch form-check-reverse taxDiv">
    <label class="form-check-label taxSwitchLabel" for="switchCheckReverse"
      >Display total after taxes</label
    >
    <input
      class="form-check-input taxSwitch"
      type="checkbox"
      id="switchCheckReverse"
    />
  </div>
</div>

<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 card-container">
  <% for (listing of allListings) { %>
  <a href="/listings/<%= listing._id %>" class="listing-link">
    <div
      class="card listing-card"
      style="width: 18rem"
      data-categories="<%= listing.category.join(',') %>"
    >
      <img
        src="<%= listing.image.url %>"
        class="card-img-top"
        alt="Listing Image"
      />
      <div class="card-img-overlay"></div>
      <div class="card-body">
        <p class="card-title plus-jakarta-sans-bold m-0">
          <%= listing.title %>
        </p>
        <p
          class="card-title plus-jakarta-sans-regular m-0 price"
          data-price="<%= listing.price %>"
        >
          &#8377; <%= listing.price.toLocaleString("en-IN") %> night
        </p>
      </div>
    </div>
  </a>
  <% } %>
</div>

<script src="/js/indexListings.js"></script>
