<% layout('/layouts/boilerplate.ejs') %>

<div class="show-container">
  <h3><%= result.title %></h3>
  <img src="<%= result.image.url %>" class="show-img" alt="image" />
  <p class="owner-text">Owned by <i><%= result.owner.username %></i></p>
  <hr />
  <h5>Description</h5>
  <p class="description"><%= result.description %></p>
  <h5>Price</h5>
  <p>&#8377;<%= result.price.toLocaleString("en-IN") %> night</p>
  <h5>Location</h5>
  <p class="mb-1"><%= result.location %></p>
  <p><%= result.country %></p>
  <% if (currentUser && currentUser._id.equals(result.owner._id)) { %>
  <div class="show-btns">
    <a
      href="/listings/<%= result._id %>/edit"
      class="btn btn-outline-dark btn-sm mb-2 edit-btn review-btn green-btn"
      >Edit</a
    >
    <form method="post" action="/listings/<%= result._id %>?_method=DELETE">
      <button
        class="btn btn-outline-dark btn-sm mb-2 edit-btn red-btn review-btn"
      >
        Delete
      </button>
    </form>
  </div>
  <% } %>
  <div>
    <% if (currentUser) { %>
    <hr />
    <h3>Leave a Review</h3>
    <form
      action="/listings/<%= result._id %>/reviews"
      method="post"
      novalidate
      class="needs-validation"
      autocomplete="off"
    >
      <div class="mt-3">
        <label class="form-label">Rating</label>
        <fieldset class="starability-heartbeat">
          <input
            type="radio"
            id="no-rate"
            class="input-no-rate"
            name="rating"
            value="1"
            checked
            aria-label="No rating."
          />
          <input type="radio" id="first-rate1" name="rating" value="1" />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input type="radio" id="first-rate2" name="rating" value="2" />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input type="radio" id="first-rate3" name="rating" value="3" />
          <label for="first-rate3" title="Average">3 stars</label>
          <input type="radio" id="first-rate4" name="rating" value="4" />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input type="radio" id="first-rate5" name="rating" value="5" />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
      </div>

      <div class="mb-3">
        <label for="comment" class="form-label">Comment</label>
        <textarea
          name="comment"
          id="comment"
          rows="10"
          cols="30"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback plus-jakarta-sans-bold">
          Comment is required!
        </div>
      </div>
      <button
        type="submit"
        class="btn btn-outline-dark mb-2 edit-btn review-btn green-btn"
      >
        Submit
      </button>
    </form>
    <% if (result.reviews.length > 0) { %>
    <hr />
    <% } %> <% } else { %>
    <hr />
    <h5>Please log in to post a review.</h5>
    <hr />
    <% } %> <% if (result.reviews.length != 0) { %>

    <h3>Reviews</h3>
    <div class="row">
      <% for (review of result.reviews) { %>
      <div class="card card-review col-5 m-2">
        <div class="card-body card-review-body">
          <h5 class="card-title review-username">
            @<%= review.author.username %>
          </h5>
          <p class="star">⭐ <%= review.rating %></p>
          <p class="card-text mb-4 comment"><%= review.comment %></p>
          <% if (currentUser && review.author.equals(currentUser._id)) {%>
          <form
            method="POST"
            action="/listings/<%= result._id %>/reviews/<%= review._id %>?_method=DELETE"
            class="show-btns-2"
          >
            <button
              type="submit"
              class="btn btn-outline-dark btn-sm mb-2 edit-btn red-btn review-btn"
            >
              Delete
            </button>
          </form>
          <% } %>
        </div>
      </div>
      <% } %> <% } %>
    </div>
  </div>
</div>
